@import url('https://fonts.googleapis.com/css2?family=VT323&family=Zen+Tokyo+Zoo&family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Permanent+Marker&display=swap');


.main-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid rgba(173, 216, 230, 0.3);
    padding: 30px;
    background-color: rgba(10, 20, 40, 0.6);
    text-align: center;
    box-shadow: 0 0 15px rgba(173, 216, 230, 0.5);
    border-radius: 12px;
    animation: shimmer 6s infinite;
    height: 400px;
}

.title {
    font-size: 2.8rem;
    color: #888cfc;
    margin-bottom: 10px;
    padding-bottom: 1px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.subtitle{
    color: #bde0ff;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.submitForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"] {
    padding: 12px;
    font-size: 1rem;
    background-color: #bde0ff; 
    color: #442f2f; 
    border: none;
    border-radius: 8px;
    outline: none;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 2px 8px rgba(255, 200, 200, 0.3);
    transition: all 0.2s ease;
    font-family: 'Quicksand', sans-serif;
}

input[type="text"]::placeholder {
    color: #7a5c5c;
    opacity: 0.6;
}

button {
    background-color: #bde0ff; /* soft pink */
    color: #442f2f;
    border: none;
    padding: 12px 24px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    box-shadow: 0 2px 6px rgba(255, 180, 180, 0.3);
}

button:hover {
    background-color: #888cfc;
    color: #2c1c1c;
    box-shadow: 0 0 12px rgba(255, 200, 200, 0.4);
}

.response {
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
}

.progress {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e0faff; /* Brighter aqua for better contrast */
    text-shadow:
        0 0 5px #e0faff,
        0 0 10px #aeefff,
        0 0 15px #89e2ff;
    backdrop-filter: blur(2px);
    padding: 6px 12px;
    border-radius: 6px;
}



/* Soft shimmer like water light */
@keyframes shimmer {
    0% {
        box-shadow: 0 0 10px rgba(173, 216, 230, 0.3);
    }
    50% {
        box-shadow: 0 0 25px rgba(173, 216, 230, 0.6);
    }
    100% {
        box-shadow: 0 0 10px rgba(173, 216, 230, 0.3);
    }
}

#filename {
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}


.ad-container{
    overflow: hidden; 
    font-size: 10px; 
}