@import url('https://fonts.googleapis.com/css2?family=VT323&family=Zen+Tokyo+Zoo&family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Permanent+Marker&display=swap');


.main-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid rgba(173, 216, 230, 0.3);
    padding: 30px;
    background-color: #C3C3C3;
    text-align: center;
    box-shadow: 0 0 15px rgba(173, 216, 230, 0.5);
    border-radius: 12px;
    animation: shimmer 6s infinite;
    height: 40%;
    width: 60%;
}

.title {
    font-size: 2.8rem;
    color: #121419;
    margin-bottom: 10px;
    padding-bottom: 1px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.subtitle{
    color: #1C1E25;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.submitForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"] {
    padding: 12px;
    font-size: 1rem;
    background-color: #FDFBE0; 
    color: #303030; 
    outline: none;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(227, 227, 227);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(227, 227, 227);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(51, 51, 51);
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(51, 51, 51);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

input[type="text"]::placeholder {
    color: #7a5c5c;
    opacity: 0.6;
}

button {
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #c3c3c3;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(51, 51, 51);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(51, 51, 51);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(227, 227, 227);
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(227, 227, 227);
    font-family: 'Quicksand', sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #888cfc;
    color: #2c1c1c;
    box-shadow: 0 0 12px rgba(255, 200, 200, 0.4);
}

.response {
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
}

.progress {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #06080F;
    backdrop-filter: blur(2px);
    padding: 6px 12px;
    border-radius: 6px;
}



/* Soft shimmer like water light */
@keyframes shimmer {
    0% {
        box-shadow: 0 0 10px rgba(173, 216, 230, 0.3);
    }
    50% {
        box-shadow: 0 0 25px rgba(173, 216, 230, 0.6);
    }
    100% {
        box-shadow: 0 0 10px rgba(173, 216, 230, 0.3);
    }
}

#filename {
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}


.ad-container{
    overflow: hidden; 
    font-size: 10px; 
}

